[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
beautifulsoup4 = "*"
bs4 = "*"
selenium = "*"
webdriver-manager = "*"
scrapy = "*"
google-search-results = "*"

[dev-packages]

[requires]
python_version = "3.8"
