.scoreboard-container {
  background-color: darkgrey;
  border: 3px solid white;
  border-radius: 20px;
  height: fit-content;
  max-width: 100%;
  margin: 0 auto;
}

.scoreboard-header {
  text-align: center;
  margin: 15px 0;
  padding: 10px;
}

.h2 {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-size: 3rem !important;
  background-color: rgb(54, 54, 54);
  border-radius: 30px;
}

.media-title-spinner {
  font-size: 3rem !important;
  vertical-align: unset !important;
}

.scoreboard-content {
  display: block;
  margin: 0;
  padding: 10px;
}

.score-block {
  border: 3px solid white;
  border-radius: 10px;
  display: block;
  width: 100%;
  min-height: 250px;
  height: fit-content;
  margin: 15px 0;
  padding: 15px 0;
  text-align: center;
}

.score-block-unit {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.score-block-unit-header {
  font-size: 2rem !important;
  min-height: fit-content;
  height: 80px;
  margin: 5px 0;
}

.imdb-block {
  background-color: #f5c518;
}

.imdb-header {
  margin-bottom: 30px;
  font-size: 2.3rem !important;
}

.rottentomatoes-block {
  background-color: #fa320a;
}

.rottentomatoes-header {
  margin-bottom: 30px;
  font-size: 2.3rem !important;
}

.score-block-content {
  display: block;
}

.score-block-unit-score {
  background-color: rgb(54, 54, 54);
  border-radius: 15px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 2rem;
}

.imdb-score {
  width: 115px;
  margin: 0 auto;
}

.tomatometer-value {
  width: 115px;
  margin: 0 auto;
}

.audience_score-value {
  width: 115px;
  margin: 0 auto;
}

.spinner-border {
  padding: 15px;
}

@media only screen and (min-width: 768px) {
  h2 {
    width: 66%;
    margin: 0 16.5%;
  }

  .scoreboard-content {
    display: flex;
  }

  .score-block {
    display: inline-block;
    width: 47.5%;
  }

  .score-block-content {
    display: flex;
  }

  .imdb-score {
    width: 115px;
    margin: 0 auto;
  }
}
