{% extends 'base.html' %} {%block content %}

<div class="row justify-content-center">
  <div
    class="scoreboard-container col-md-9 text-white"
    data-test="canvas-container"
  >
    <div class="scoreboard-header h-25">
      <h2 id="media-title" class="display-6" data-test="media-title">
        {{ media_title }}
      </h2>
    </div>

    <div>
      <div class="scoreboard-content justify-content-evenly">
        <div class="score-block col-sm-5" id="imdb-block">
          <div
            class="display-6 text-dark"
            id="imdb-header"
            data-test="imdb-header"
          >
            IMDb
          </div>
          <div class="score-block-content justify-content-evenly">
            <div class="score-block-unit">
              <div class="score-block-unit-header display-6 text-dark">
                Overall Score
              </div>
              <div
                class="score-block-unit-score"
                id="imdb-score"
                data-test="imdb-score-value"
              >
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="score-block col-sm-5" id="rottentomatoes-block">
          <div
            class="display-6"
            id="rottentomatoes-header"
            data-test="rottentomatoes-header"
          >
            Rottentomatoes
          </div>
          <div class="score-block-content justify-content-evenly">
            <div class="score-block-unit">
              <div
                class="score-block-unit-header display-6"
                id="tomatometer-header"
                data-test="tomatometer-header"
              >
                Avg tomatometer
              </div>
              <div
                class="score-block-unit-score"
                id="tomatometer-value"
                data-test="tomatometer-value"
              >
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
            <div class="score-block-unit">
              <div
                class="score-block-unit-header display-6"
                id="audience_score-header"
                data-test="audience_score-header"
              >
                Avg audience score
              </div>
              <div
                class="score-block-unit-score"
                id="audience_score-value"
                data-test="audience_score-value"
              >
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const fetchedData = fetch(
    "http://localhost:8000/fetch-score-data/?media={{ search_term }}",
    {
      method: "GET",
    }
  )
    .then((fetchedData) => {
      return fetchedData.json();
    })
    .then((agenciesData) => {
      addRatingAgencyValues(agenciesData);
    })
    .catch((error) => {
      console.error(error);
    });

  const addRatingAgencyValues = (agenciesData) => {
    for (const agency in agenciesData) {
      if (agency === "imdb") {
        const imdbScoreValueElem = document.getElementById(`${agency}-score`);
        if (imdbScoreValueElem) {
          imdbScoreValueElem.innerHTML = agenciesData[agency];
        } else {
          throw new Error(`Element with id: ${agency}-score not found!`);
        }
      } else {
        rtScoreValues = agenciesData["rt"];
        for (const rtScore in rtScoreValues) {
          const rtScoreValueElem = document.getElementById(`${rtScore}-value`);
          if (rtScoreValueElem) {
            rtScoreValueElem.innerHTML = rtScoreValues[rtScore];
          } else {
            throw new Error(`Element with id: ${rtScore}-value not found!`);
          }
        }
      }
    }
  };
</script>

{% endblock content %}
