{% extends 'base.html' %} {%block content %}
<style>
  .scoreboard-container {
    height: fit-content;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 20px;
    background-color: darkgrey;
  }

  .scoreboard-header {
    text-align: center;
    text-decoration: underline;
    margin: 15px 0;
  }

  h2 {
    width: 66%;
    margin: 0 16.5%;
    padding: 10px 0;
    background-color: rgb(54, 54, 54);
    border-radius: 30px;
  }

  .scoreboard-content {
    display: flex;
    margin: 25px 0;
  }

  .score-block {
    display: inline-block;
    height: fit-content;
    margin: 15px 0;
    padding: 15px 0;
    text-align: center;
    border-radius: 10px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
  }

  #imdb-block {
    background-color: #f5c518;
  }

  #rottentomatoes-block {
    background-color: #fa320a;
  }

  .score-block-content {
    display: flex;
  }

  .score-block-unit {
    width: 100%;
    display: inline-block;
  }

  .score-block-unit-header {
    font-size: 1.5rem;
    height: 50px;
    margin: 5px 0 15px 0;
    text-decoration: underline;
  }

  .score-block-unit-score {
    margin-top: 10px;
    width: fit-content;
    margin: 0 25%;
    padding: 10px 20px 5px 20px;
    font-weight: bold;
    font-size: 1.6rem;
    background-color: rgb(54, 54, 54);
    border-radius: 15px;
  }

  /* #imdb-score {
    font-size: 1.5rem;
    width: 25%;
    margin: 0 35%;
  }

  #tomatometer-value {
    width: 50%;
    margin: 0 25%;
  }

  #audience_score-value {
    width: 50%;
    margin: 0 25%;
  } */

  .spinner-border {
    padding: 15px;
  }
  @media only screen and (max-width: 652px) {
    [class*="col-sm-"] {
      width: 100%;
    }

    h2 {
      width: 100%;
      margin: 0;
    }
    .scoreboard-content {
      display: block;
    }
    .score-block {
      width: 100%;
      display: block;
    }
    .score-block-unit {
      width: 100%;
      display: block;
    }

    .score-block-content {
      display: block;
    }

    #imdb-score {
      width: 40%;
      margin: 0 30%;
    }

    #tomatometer-value {
      width: 40%;
      margin: 0 30%;
    }

    #audience_score-value {
      width: 40%;
      margin: 0 30%;
    }
  }
</style>

<div class="row justify-content-center">
  <div
    class="scoreboard-container col-md-9 text-white"
    data-test="canvas-container"
  >
    <div class="scoreboard-header h-25">
      <h2 id="media-title" class="display-6" data-test="media-title">
        {{ media_title }}
      </h2>
    </div>

    <div>
      <div class="scoreboard-content justify-content-evenly">
        <div class="score-block col-sm-5" id="imdb-block">
          <div
            class="display-6 text-dark"
            id="imdb-header"
            data-test="imdb-header"
          >
            IMDb
          </div>
          <div class="score-block-content justify-content-evenly">
            <div class="score-block-unit">
              <div class="score-block-unit-header display-6 text-dark">
                Overall Score
              </div>
              <div
                class="score-block-unit-score"
                id="imdb-score"
                data-test="imdb-score-value"
              >
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="score-block col-sm-5" id="rottentomatoes-block">
          <div
            class="display-6"
            id="rottentomatoes-header"
            data-test="rottentomatoes-header"
          >
            Rottentomatoes
          </div>
          <div class="score-block-content justify-content-evenly">
            <div class="score-block-unit">
              <div
                class="score-block-unit-header display-6"
                id="tomatometer-header"
                data-test="tomatometer-header"
              >
                Avg tomatometer
              </div>
              <div
                class="score-block-unit-score"
                id="tomatometer-value"
                data-test="tomatometer-value"
              >
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
            <div class="score-block-unit">
              <div
                class="score-block-unit-header display-6"
                id="audience_score-header"
                data-test="audience_score-header"
              >
                Avg audience score
              </div>
              <div
                class="score-block-unit-score"
                id="audience_score-value"
                data-test="audience_score-value"
              >
                <div class="spinner-border" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const fetchedData = fetch(
    "http://localhost:8000/fetch-score-data/?media={{ search_term }}",
    {
      method: "GET",
    }
  )
    .then((fetchedData) => {
      return fetchedData.json();
    })
    .then((agenciesData) => {
      addRatingAgencyValues(agenciesData);
    })
    .catch((error) => {
      console.error(error);
    });

  const addRatingAgencyValues = (agenciesData) => {
    for (const agency in agenciesData) {
      if (agency === "imdb") {
        const imdbScoreValueElem = document.getElementById(`${agency}-score`);
        if (imdbScoreValueElem) {
          imdbScoreValueElem.innerHTML = agenciesData[agency];
        } else {
          throw new Error(`Element with id: ${agency}-score not found!`);
        }
      } else {
        rtScoreValues = agenciesData["rt"];
        for (const rtScore in rtScoreValues) {
          const rtScoreValueElem = document.getElementById(`${rtScore}-value`);
          if (rtScoreValueElem) {
            rtScoreValueElem.innerHTML = rtScoreValues[rtScore];
          } else {
            throw new Error(`Element with id: ${rtScore}-value not found!`);
          }
        }
      }
    }
  };
</script>

{% endblock content %}
