{% extends 'base.html' %} 

{% block title %}Media Ratings{% endblock title %}

{%block content %}

<div class="container-fluid" style="height: 100px">
  <div class="row justify-content-center align-items-center h-100">
    <div class="w-50">
        <form action="scoreboard/" class="input-group w-75" style="margin: 0 12.5%" method="POST" data-test="search-form">
          {% csrf_token %}
          {{ form }}
          <div class="input-group-append">
            <button type="submit" class="btn btn-danger" data-test="search-button">Search</button>
          </div>
        </form>
    </div>
  </div>
</div>

{% endblock content %}
